/* SignInUp.css */
.userlogin-input {
  width: 100%;
  height: 100%;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.userlogin-btn {
  width: 100%;
  height: 100%;
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s cubic-bezier(0, 0, 0, 1);
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
}

.userlogin-span {
  color: var(--font-color-dark);
  transition: color 0.25s cubic-bezier(0, 0, 0, 1);
}

.userlogin-input:hover .userlogin-btn {
  background-color: var(--secondary-color);
}

.userlogin-input:hover .userlogin-span {
  color: var(--font-color-light);
}
  